* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #255ee9;
    padding-top: 1rem;
  }

  .container {
    max-width: 980px;
    margin: 0 auto;
  }

  header nav {
    margin-bottom: 1rem;
  }

  header nav .container {
    display: flex;
  }

  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .nav-links{
    flex-grow: 1;
  }

  .nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .col a {
    color: white;
  }

  .link-nav {
    color: white;
    padding-left: .7rem;
  }

.btn {
   border-radius: 15px;
   border: none;
   background-color: white;
   padding: .7rem 1rem;
   font-size: 1rem;
}

.btn-small {
    padding: .4rem .7rem;
    font-size: .8rem;
}

.btn-dark {
    background-color: #23272a;
}

.btn-violet {
    background-color: #7289da;
}

.btn-violet a, .btn-dark a {
    color: white;
}

.hero-section {
    background-image:url(../img/jumbo.png);
    background-size: cover;
    padding: 2rem 0;
   
  }
  
  .hero-section .container {
    max-width: 620px;
    min-height: 450px;
    text-align: center;
    line-height: 30px;
    padding-top: 140px;
    color: white;
  }

  h1 {
    padding-bottom: 50px;
    font-size: 45px
  }

  .hero-text {
    padding-bottom: 20px;
  }

  .hero-buttons {
    display: flex;
  }


  .bg-gray {
    background-color: #f6f6f6;
  }

  .bg-dark {
    background-color: #23272a;
  }

  .row {
    display: flex;
    padding-top: 30px;
  }
  
  .col-large, .col-small {
    min-height: 450px;
  }
  
  .col-large {
    max-width: 60%;
  }
  
  .col-small {
    max-width: 40%;
    padding-left: 50px;
    padding-top: 40px;
    
  }

  .row-text {
    padding-top: 20px;
  }

  .big-box {
    text-align: center;
  }


  .h3-stars {
    margin: auto;
    max-width: 400px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
  }

  .button-stars{
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .col-large, .col-small {
  min-height: 300px;
}

  
.col-large {
  width: 60%;
}

.col-small {
  width: 40%;
}

footer .col {
    flex-grow: 1;
    min-height: 300px;
    font-size: small;
  }
  
  footer .col-large {
    width: 10%;
  }

  .footer-lan {
    color: white;
    font-size: small;
    line-height: 30px;
    
  }

  #logo-ita {
    width: 20px;
  }

  footer hr {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }

  h3 {
    color: #4270d9;
  }

  .col ul {
    color: white;
    list-style: none;
    line-height: 30px;
    padding-left: 20px;
  }

  .list-title {
    color: #4270d9;
  }

  .sign-in-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo-footer, .button-footer {
    align-items: baseline;
    text-align: center;
    align-self: center;
}

  


