* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #add8e6;
    padding-top: 1rem;
    padding-bottom: 4px;
  }

  header nav {
    margin-bottom: 1rem;
  }

  header nav .nav-container {
    display: flex;
  }

  .nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .link-nav {
    color: white;
    padding-left: .7rem;
  }

.btn {
   border-radius: 15px;
   border: none;
   background-color: white;
   padding: .7rem 1rem;
}

.btn-small {
    padding: .4rem .7rem;
    font-size: .8rem;
}

.btn-dark {
    background-color: #23272a;
    color: white;
}